psycopg2-binary~=2.9.3
Bootstrap-Flask==2.3.2
dotenv==0.0.5
email-validator==2.0.0.post2
Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Jinja2==3.1.2
multidict==6.0.4
python-dotenv==1.0.0
requests==2.31.0
SQLAlchemy==2.0.22
uvicorn==0.23.2
Werkzeug==3.0.0
WTForms==3.1.0
